*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/black-friday-sale-decoration-background-with-shopping-trolley-copy-space_257995-187.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    width: 420px;
    background-color: transparent;
    border: 2px solid gray;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(33, 33, 33);
    color:white;
    border-radius: 20px;
    padding: 30px 40px;
}
.form h1{
    text-align: center;
}
 .form .boxes{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(113, 110, 110);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.boxes input ::placeholder{
    color: white;
}
.boxes i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.btn a{
    text-decoration: none;
    color: white;
}
.register{
    text-align: center;
    font-size: 14.5px;
    margin-top: 20px;
}
.register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register p a :hover{
    text-decoration: underline;

}