*{
    padding: 0;
    margin: 0;
}
header{
    border-bottom: 2px solid black;
}
header .shopping{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .shopping #icon,label{
    display: none;
}
img{
    width: 90px;
    height: 50px;
}
header .shopping{
    display: flex;
    width: 95%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
header .shopping ul{
    display: flex;
}
header .shopping ul li{
    margin: 10px;
    list-style: none;
    color: black;
    position: relative;
}
header .shopping ul li a{
    text-decoration: none;
    color: black ;
}
header .shopping ul li::after{
    content: "";
    background-color: rgb(0, 0, 0)  ;
    top: 20px;
    left: 0px;
    width: 0;
    height: 5px;
    position: absolute;
}
header .shopping ul li:hover::after{
    transition: 0.5s;
    width: 100%;
}
@media (max-width: 991px){
    header .shopping label{
        display: block;
    }
    header .shopping #icon:checked~nav{
        display: block;
        text-align: center;
    }
    header .shopping nav{
        display: none;
        width: 100%;
    }
    header .shopping ul{
        flex-direction: column;
    }
}
section .home{
    background-image: url(image/SUMMER-8.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
} 
section #title{
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
.product .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30rem,1fr));
    gap: 2rem;
}
.product .container .clothes{
    text-align: center;
    padding: 3rem 2rem;
    background: white;
    box-shadow: 0.5rem 1rem  ;
}
.product .container .clothes img{
    height: auto;
    width: 400px;
}
.product .container button{
    padding: 15px 10px;
    background-color: rgb(9, 9, 9);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 40%;
}
.product .container button a{
    text-decoration: none;
    color: white;
}

.about{
    width: 100%;
    padding: 78px 0px;
    border-bottom: 2px solid black;
}
.about img{
    height: auto;
    width: 700px;
}
section .main{
    width: 1130;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
section .details{
    width: 550px;
    margin: 40px;
}
section .details h1{
    font-size: 50px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}
section .details p{
    font-size: 22px;
    color: #4f4f4f;
    width: 550px;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:991px){
    section .main{
        flex-direction: column;
        align-items: center;
    }
}
footer{
    background-color: rgb(19, 19, 19);
    height: auto;
    padding-top: 40px;
    color: white;
    right: 0;
    left: 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.footer h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer p{
    max-width: 500px;
    margin: 10 auto;
    line-height: 28px;
    font-size: 14px;
}
footer ul{
    display: flex;
    cursor: pointer;
}
footer ul li{
    list-style: none;
    margin: 10px;
}
footer ul li:first-child{
    color: blue;
}
footer ul li:nth-child(2){
    color: rgb(227, 100, 146);
}
footer ul li:nth-child(3){
    color: rgb(28, 180, 61);
}
footer ul li:last-child{
    color: rgb(95, 163, 218);
}
footer .content{
    background-color: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
footer .content p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
footer .content span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


